<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cusmapper">

	<resultMap type="customer" id="CusResult">
		<result property="email" column="cus_email"/>
		<result property="pw" column="cus_pw"/>
		<result property="cusName" column="cus_name"/>
	</resultMap>
	
	
	<insert id="insert" parameterType="customer" >
		INSERT INTO CUSTOMER(
			cus_email,
			cus_pw,
			cus_name
		)
		VALUES (
			#{email}, 
			#{pw},
			#{cusName}
		)       
	</insert>

	<select id="select" parameterType="String" resultMap="CusResult">
		SELECT * 
		FROM CUSTOMER 
		WHERE CUS_EMAIL = #{email}
	</select>
	
</mapper>